<%# Each item is wrapped in a .sortable-item so SortableJS treats
    the header + children as one draggable unit. %>
<div class="sortable-item"
     data-sortable-update-url="<%= wrap_it_ruby.sort_menu_setting_path(item) %>">

  <div class="menu-item">
    <i class="grip vertical icon drag-handle" data-sortable-handle></i>
    <% if item.icon.present? %>
      <i class="<%= item.icon %> icon"></i>
    <% end %>
    <strong><%= item.label %></strong>
    <% if item.route.present? %>
      <span class="route-label"><%= item.route %></span>
    <% end %>
  </div>

  <% if item.children.any? %>
    <div class="children-container"
         data-controller="wrap-it-ruby--sortable"
         data-wrap-it-ruby--sortable-group-value="items"
         data-sortable-parent-id="<%= item.id %>">
      <% item.children.each do |child| %>
        <%= render partial: "wrap_it_ruby/menu_settings/menu_item", locals: { item: child } %>
      <% end %>
    </div>
  <% end %>
</div>
